body{
    font-family: 'Inter', sans-serif;
}
.main{
    background-color: var(--grey5);
    height: fit-content;
}
.navbar{
    background: var(--white-fixed);
    height: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px var(--grey4);
}
.menu-lines{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border-radius: 4px;
}
.line{
    border-radius: 5px;
    background: var(--grey4);
    height: 2px;
    width: 10px;
}
.close-menu{
    display: none;
    color: var(--grey3);
    font-size: large;
    cursor: pointer;
}
.ul-menu-bar{
    list-style: none;  
}
.li-menu-bar{
    color: var(--grey3);
}
.li-menu-bar2{
    color: var(--grey0);
}
.padding1{
    padding: 20px 20px;
}
.li-background{
    background: var(--grey5);
}
.hidden{
    display: none;
}
.show-modal-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-1{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background: rgba(0,0,0,0.8);
}
.div-modal-1{
    background-color: var(--color-brand-1);
    border-radius: 4px;
    color: var(--white-fixed);
    height: max-content;
    padding: 15px 15px;
    max-width: 450px;
}
.div-button1{
    display: flex;
    justify-content: flex-end;
}
.div-button1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}
.container{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 15px 0;
}
.div-form{
    background-color: var(--white-fixed);
    width: 250px;
    height: max-content;
    padding-bottom: 15px;
    border-radius: 8px;
}
.form-1{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.size1{
    width: 90%;
}
.div-btn-register{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.size1{
    width: 90%;
}
.title-register{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}
.nav-desktop{
    display: none;
    background: var(--white-fixed);
    height: 1rem;
    padding: 20px 20px 20px 20px; 
    border-bottom: solid 1px var(--grey4);
}
.menu-desktop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ul-menu-desktop{
    display: flex;
    gap: 25px;
}
.tag-a{
    text-decoration: none;
}
.click{
    cursor: pointer;
}
.click:hover{
    color: var(--grey4);
}
@media(min-width:869px){
    .menu-lines{
        display: none;
    }.menu{
        display: none;
    }.navbar{
        display: none; 
    }.nav-desktop{
        display: flex;
    }
    .div-form{
        width: 400px;
        margin-top: 2rem;
    }
    .form-1{
        width: 400px;
        margin-top: 2rem;
    }
}
@keyframes menu {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    } 
}
.menu{
    animation: menu 1s;  
 }
 